@import url(//db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

a {
	text-decoration: none;
}


/*nav menu starts*/

.menu-item {
	margin-left: 60px;
}

.showreel {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 40px;
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	color: #8d785b;
	text-decoration: underline;
}

@media (max-width: 900px) {
	.navbar {
		display: none;
	}
}


.menu-open {
	color: black;
	z-index: 1;
}

.menu-open,
.menu-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 40px;
	font-size: 20px;
	cursor: pointer;
	z-index: 1;
}

.socials {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 40px 100px;
	z-index: 1;
}

.socials span {
	text-transform: uppercase;
	margin: 0 20px;
	letter-spacing: 0px;
	
}

.nav-container {
	position: fixed;
	left: -100%;
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: 1;
	
}

.menu__item {
	position: relative;
	padding: 0 6vw;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}



.menu {
	padding: 10vh 0 25vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 7vw;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: rgb(214, 214, 214);
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	opacity: 0;
	transition: all 0.1s;
	transform: translateX(60px);
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	opacity: 1;
	transform: translateX(0px);
	transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 7vw;
	padding: 0 1vw;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}


/*nav menu ends*/



/*pre loader starts*/

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    text-transform: uppercase;
    font-size: 100px;
    z-index: -1;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
    animation-fill-mode: forwards;
	font-family: monu;
}

.text-wrapper {
    color: white;
    position: absolute;
}

.text {
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 54px;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px white;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.text-1 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

.text-2 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-3 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-4 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-5 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-6 {
    animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
    opacity: 0;
}

.text-7 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-8 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-9 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-10 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-11 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

@keyframes slide-out {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }
    20% {
        opacity: 0%;
    }

    39% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }

    59% {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }

    79% {
        opacity: 0%;
    }
    80% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    40% {
        height: 100vh;
    }

    100% {
        height: 0%;
    }
}

@media (max-width: 990px) {
    .header {
        font-size: 24px;
    }

    .text {
        font-size: 24px;
    }
}


/* pre loader ends*/






















